<% content_for :title do %>
  Read With Me
<% end %>

	<div class='homepage_hero'>
		<center>
			<span class='brand'>
				<h2>
					Read With Me
				</h2>
			</span>

				<h4>
					The best way to discuss news.
				</h4>
			

				<h5>
					<span class='brand'>
						Read With Me
					</span>

						is a simple tool that improves how you share and discuss news with friends and colleagues.

				</h5>
				<br/>	

		    <% if user_signed_in? %>
		    	
		    	Use the 

				<button class="btn btn-success" onClick="window.location='<%= bookmarklet_path %>'" type="button"> 
					<span class='brand'>
						Read With Me
					</span>
					Bookmark
				</button>

				on any news article to start a discussion with your friends. 
				<br/>

				View all of your discussions in 

				<button class="btn btn-success" onClick="window.location='<%= my_articles_path %>'" type="button">
					My Articles
				</button>

		    <% else %>
				<button class="btn btn-large btn-success" onClick="window.location='<%= user_omniauth_authorize_path(:facebook)  %>'" type="button">
					Sign Up Today!
				</button>
			<% end %>
			<br/>
			<br/>
		</center>
		<br/>
		<br/>
	</div>

	<div class='row'>
		<div class='span6'>
			
			<h3>
				Features:
			</h3>
			
			<div class="row media">

	    			<img class="pull-left media-object homepage_image_icon" src="assets/discuss-icon.png">

				<div class="media-body">
	 				<h4 class="media-heading">
						Highlight and comment directly in articles.
					</h4>
						Bring your discussion and the article together into one place. Be clear about the point you’re referencing. No more flipping back and forth between a long email chain and the article.
				</div>
			</div>

			<br/>

			<div class="row media">
				<img class="pull-left media-object homepage_image_icon" src="assets/archive-icon.png">
	 
				<div class="media-body">
	 				<h4 class="media-heading">
						Reference previous articles and discussions
					</h4>
						Never lose track of something you’ve shared or discussed in the past.
				</div>
			</div>

			<br/>

			<div class="row media">

		   			<img class="pull-left media-object homepage_image_icon" src="assets/tools-icon.png">
				<div class="media-body">
	 				<h4 class="media-heading">
	 					Completely streamlined, in-browser experience.

	 				</h4>
						Keep the articles and your discussion in one place. No need for email, manually adding things to Facebook, etc.
				</div>
			</div>
		</div> 

		
		<div class='span6 right_homepage_container add_right_homepage_margin'>

				<span class='brand'>
			<h3 style="display:inline">			

					Read With Me 
			</h3>
					
				</span>
			<h3 style="display:inline">			

				in action:
			</h3>
			
			<br/>
			<br/>
			
			<center>
				<iframe width="450" height="315" src="//www.youtube.com/embed/GDYcmNR1BDg" frameborder="0" allowfullscreen>
				</iframe>
			</center>

			<br/>

			<center>
				Take a 			
					<button class="btn btn-success" onClick="window.location='<%= bookmarklet_path %>'" type="button" title='See a sample news article'>
					Tour of 
						<span class='brand'>
							Read With Me
						</span>
					</button>
				article.
			</center>

		</div> 

	</div>



<%= render :partial =>"static_pages/shared/footer" %>

