<table id="table_id">
  <thead>
    <tr>
      <th>
        <div class="index_article_icon">
          
          <span class="icon-share" title='Share this article with friends'></span>
          Share
        </div>

      </th>


      <th>Article Image</th>

      <th>Headline</th>

      <th>Share Date</th>

    </tr>
  </thead>  

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        
        <!-- Share Actions -->
        <td>
          <div class="cell_actions">
            <div class="index_article_icon">
              <center>

                <span title="Post to your facebook wall" class="icon-facebook table_action_icons" onclick="facebook_share('<%= article.slug %>', '<%= escape_javascript(article.headline) %>', '<%= article.image_url %>' )">
                </span>

                <span title="Email this article to your friends" class="icon-emailalt table_action_icons" onclick="email_share('<%= article.slug %>', '<%= escape_javascript(article.headline) %>')">
                </span>

                <span title="Delete this article. Your discussion related to this article will be deleted as well" class="icon-remove table_action_icons" onclick="delete_article('<%= article.slug %>', '<%= escape_javascript(article.headline) %>')">
                </span>
              </center>
            </div>

          </div>


        </td>

        <!-- Image Thumbnail -->
        <td>
          <div class='cell_image'>
            <img src="<%= article.image_url %>">
          </div>
        </td>        

        <!-- Article Headline -->
        <td>        
          <div class='cell_headline'>
         
            <a href="/articles/show/<%= article.slug %>" />
              <%= article.headline %>
            </a>
          
          </div>

        </td>

        <td>
          <%= time_ago_in_words(article.created_at) %> ago
        </td>


      </tr>
    <% end %>
  </tbody>
</table>