<br/>
<br/>

<div class="row footer" >
	<div class='container'>

		<div class='span4 homepage_footer_left'>

			<%= link_to "FAQ", faq_path %> 

			<br/>
			
			<%= link_to "About Us", about_path %> 

			<br/>
				<%= link_to "Privacy", privacy_path %> 
			<br/>
				<%= link_to bookmarklet_path do%>

					<span class='brand'>
						Read With Me 
					</span>
						Bookmark
				<% end %>
		</div>

		<div class='span3 homepage_footer_center'>
			<center>
				<a href='http://www.facebook.com/getreadwithme'>

					<img class="homepage_image_footer_icon" src="assets/facebook_icon.png" title='Go to our Facebook Page'>
				</a>

				<a href='http://www.linkedin.com/company/3221312?trk=prof-exp-company-name'>
					<img class="homepage_image_footer_icon" src="assets/linkedin_icon.png" title='Go to our Linkedin Page'>

				</a>

				<a href='https://twitter.com/@getreadwithme'>
					<img class="homepage_image_footer_icon" src="assets/twitter_icon.png" title='See our Tweets'>
					
				</a>
			
			<center>

		</div>


		<div class='span4 homepage_footer_right'>
			<span class='brand'>
				Read With Me 
			</span>
			2013
			<br/>
			<%= link_to "Blog ", 'http://blog.getreadwithme.com' %>
	
		</div>



	</div>
</div>
