<br/>

<h1>My Articles</h1>

<br/>

<table id="table_id">
  <thead>
    <tr>
      <th>Share</th>
      <th></th>
      <th>Headline</th>
      <th>Description</th>
      <th>Original Share Date</th>
      <th>Original Article</th>


    </tr>
  </thead>  

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        
        <!-- Share Actions -->
        <td>
          <div class="cell_actions">
            Share to:
              Facebook
              Email
            Delete Article
          </div>


        </td>

        <!-- Image Thumbnail -->
        <td>
          <div class='cell_image'>
            <img src="<%= article.image_url %>">
          </div>
        </td>        

        <!-- Article Headline -->
        <td>        
          <div class='cell_headline'>
         
            <a href="/articles/show/<%= article.id %>" />
              <%= article.headline %>
            </a>
          
          </div>

        </td>

        <!-- Article Description -->
        <td>
          <div class='cell_description'>
            <%= article.description %>
          </div>
        </td>

        <!-- Shared Date -->
        <td>
          <div class='cell_sharedate'>
            <%= article.created_at %>
          </div>
        </td>

        <!-- Original Article -->
        <td>
          <a href="<%= article.original_url %>" target="_blank" >
            <%= article.site_name %>
          </a>
        </td> 

      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<br/>

<%= render :partial =>"static_pages/shared/footer" %>

<script>

  $(document).ready(function () 
  {
    $('#table_id').dataTable(
      {
        "bLengthChange": false,
        "bAutoWidth": false,
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 0 ],
            'bSortable': false, 'aTargets': [ 1 ],
            'bSortable': false, 'aTargets': [ 2 ], 
          }
                        ]
      });

  })

</script>
