<br/>

<h1>My Articles</h1>


  Archive of all your Read With Me articles. To add articles please use the <%= link_to "Read With Me Bookmark tool.", bookmarklet_path %>

<br/>
<br/>

<table id="table_id">
  <thead>
    <tr>
      <th>
        <div class="index_article_icon">
          
          <span class="icon-share"></span>
          Share
        </div>

      </th>


      <th>Article Image</th>

      <th>Headline</th>

      <th>Share Date</th>

    </tr>
  </thead>  

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        
        <!-- Share Actions -->
        <td>
          <div class="cell_actions">
            <div class="index_article_icon">
              <center>

                <span title="Post to your facebook wall" class="icon-facebook table_action_icons" onclick="facebook_share('<%= article.id %>', '<%= escape_javascript(article.headline) %>' )">
                </span>

                <span title="Email this article to your friends" class="icon-emailalt table_action_icons" onclick="email_share('<%= article.id %>', '<%= escape_javascript(article.headline) %>')">
                </span>

                <span title="Delete this article from my articles" class="icon-remove table_action_icons" onclick="delete_article(<%= article.id %>)"></span>
              </center>
            </div>

          </div>


        </td>

        <!-- Image Thumbnail -->
        <td>
          <div class='cell_image'>
            <img src="<%= article.image_url %>">
          </div>
        </td>        

        <!-- Article Headline -->
        <td>        
          <div class='cell_headline'>
         
            <a href="/articles/show/<%= article.id %>" />
              <%= article.headline %>
            </a>
          
          </div>

        </td>

        <td>
          <%= time_ago_in_words(article.created_at) %> ago
        </td>


      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<br/>
<br/>

<%= render :partial =>"static_pages/shared/footer" %>

<script>

  $(document).ready(function () 
  {
    $('#table_id').dataTable(
      {
        "aoColumnDefs": [


          { "sWidth": "70px", 'bSortable': false, 'aTargets': [ 0 ],
          },

          { 'bSortable': false, 'aTargets': [ 1 ],
          }

                        ],
      });


  })

  function facebook_share(document_id, headline)
  {

    FB.init(
    {
      appId:'<%= ENV['FACEBOOK_APP_ID'] %>',
      cookie:false,
      status:true
    });
     
    FB.ui(
    {
      method: 'feed',
      link: 'www.google.com',
      picture: 'http://fbrell.com/f8.jpg',
      name: headline,
      caption: 'Test',
      description: 'Using Dialogs to interact with people.'
    }, 
    function(response)
    {
      console.log(response)

    });

  }

  function email_share(document_id, headline)
  {
    //setup mailto functionality 
    var mailToUrl = ""

    mailToUrl += "mailto:?to="

    // Subject Text
    mailToUrl += "&subject="
    mailToUrl += "My thoughts on \"" + headline + "\"" 

    // Body Text
    mailToUrl += "&body="
    mailToUrl += "What do you think of this? - %0d" + "%09" + headline
    mailToUrl += "- ( " + document_id + " )"

    // Closing Text
    mailToUrl += "%0d" + "%0d" + "%0d"
    mailToUrl += "Share your thoughts on Read With Me - " + '<%= ENV['domain'] %>'

    window.location.href = mailToUrl

  }

  function delete_article(document_id)
  {

    alert(document_id)
  }

</script>
