<br/>

<h1>My Articles</h1>


  Archive of all your Read With Me articles. To add articles please use the <%= link_to "Read With Me Bookmark tool.", bookmarklet_path %>

<br/>
<br/>

<% if @articles.empty? %>

  <div class='homepage_hero'>

    <table height='100%' width='100%'>
      <td style="vertical-align:middle">
        <center>
          You do not have any articles in your archive yet. Please use the <%= link_to "Read With Me Bookmark tool", bookmarklet_path %> to store articles and start a discussion with your friends.
        </center>
      </td>
    </table>

  </div>

<% else %>

<%= render :partial =>"article/shared/article_index_table" %>  

<% end %>


<br/>
<br/>
<br/>

<%= render :partial =>"static_pages/shared/footer" %>

<script>

  $(document).ready(function () 
  {
    $('#table_id').dataTable(
      {
        "aoColumnDefs": [


          { "sWidth": "70px", 'bSortable': false, 'aTargets': [ 0 ],
          },

          { 'bSortable': false, 'aTargets': [ 1 ],
          }

                        ],
      });
  })

  function facebook_share(document_id, headline, image_url)
  {

    FB.init(
    {
      appId:'<%= ENV['FACEBOOK_APP_ID'] %>',
      cookie:false,
      status:true
    });
     
    FB.ui(
    {
      method: 'feed',
      link: '<%= ENV['domain'] %>/show/'+document_id,
      picture: image_url,
      name: headline,
      caption: '<%= current_user.firstname %>\'s thoughts are embedded in this article',
      description: 'What do you think of this article?'
    }, 
    function(response)
    {
      console.log(response)

    });

  }

  function email_share(document_id, headline)
  {
    var url = '<%= ENV['domain'] %>/articles/show/' + document_id


    //setup mailto functionality 
    var mailToUrl = ""

    mailToUrl += "mailto:?to="

    // Subject Text
    mailToUrl += "&subject="
    mailToUrl += "<%= current_user.firstname %>'s thoughts on \"" + headline + "\" %0d" 

    // Body Text
    mailToUrl += "&body="
    mailToUrl += "Hi, %0d %0d"
    mailToUrl += "What do you think of this? - %0d" + "%09" + headline
    mailToUrl += "- ( " + url + " )"

    // Closing Text
    mailToUrl += "%0d" + "%0d" + "%0d"
    mailToUrl += "Share your thoughts on Read With Me - " + '<%= ENV['domain'] %>'

    window.location.href = mailToUrl

  }

  function delete_article(document_id, headline)
  {
    var url = '<%= ENV['domain'] %>/articles/delete/' + document_id
    var confirm_message = 'Are you sure you want to delete: \n'
    
    confirm_message += '\''
    confirm_message += headline
    confirm_message += '\''

    var confirm_return = confirm(confirm_message);
    if (confirm_return ==true)
    {
      window.location.assign(url)
    }
    else
    {

    }

  }



</script>
