<br/>

<h1>My Articles</h1>

<br/>

<table id="table_id">
  <thead>
    <tr>
      <th>Article Image</th>
      <th>Headline</th>
      <th>Description</th>
      <th>Original Share Date</th>
      <th>Original Article</th>


    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        
        <!-- Image Thumbnail -->
        <td>
          <img src="<%= article.image_url %>">
        </td>        

        <!-- Article Headline -->
        <td>        
          <a href="/articles/show/<%= article.id %>" />
            <%= article.headline %>
          </a>
        </td>

        <!-- Article Description -->
        <td>
          <%= article.description %>
        </td>

        <!-- Shared Date -->
        <td>
          <%= article.created_at %>
        </td>

        <!-- Original Article -->
        <td>
          <a href="<%= article.original_url %>" target="_blank" >
            <%= article.original_url %>
          </a>
        </td> 

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script>

  $(document).ready(function () 
  {
    $('#table_id').dataTable(
      {
        "bScrollAutoCss": false,
        "sScrollY": "200px",
        "aoColumnDefs": 
        [
          // Thumbnail
          { "sWidth": "10%", "aTargets": [ 0 ] },

          // Headline
          { "sWidth": "30%", "aTargets": [ 1 ] },
          
          // Description
          { "sWidth": "20%", "aTargets": [ 2 ] },

          // Share Date
          { "sWidth": "5%", "aTargets": [ 3 ] },

        ]
      });
  });

</script>
