<% content_for :tour do %>

  <button class="btn btn-primary" onClick='start_joyride()'>
    Start Tour
  </button>
  
<% end %>

<% content_for :title do %>

  <%= @article.headline %> - RWM

<% end %>

<% content_for :head do -%>

  <meta property="og:image" content="<%= @article.image_url %>" />
  <meta property="og:url" content="http://nameless-cliffs-2498.herokuapp.com/articles/show/2" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="<%= @article.headline %>" />
  <meta property="og:description" content="<%= @article.description %>" />
  <meta property="og:site_name" content="Read With Me" />
  <meta property="fb:app_id" content="<%=ENV['FACEBOOK_APP_ID'] %>" />

<% end -%>



<%= render :layout => "article/shared/article_interact" do %>

  article.id = <%= @article.id %>

  get_article_from_server()

  function get_article_from_server()
  {

    request = $.ajax({
      url: "/articles/get_article",
      type: "get",
      data: article,
      error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
          },
          dataType: 'json',
      });

    // callback handler that will be called on success
    request.done(function (response, textStatus, jqXHR)
    {
      // log a message to the console
      $('#contents').css('visibility', 'visible')

      $('#article_headline').html(response.headline)
      $('#article_author').html(response.author)
      $('#article_source').html(response.site_name)    

      $('#article_image').attr("src", response.image_url)

      //$('#article_image').css("width", 300);

      //$('#article_image').css("height", 300);
      

      $('#article_content').html(response.content)

      article.content = response.content
      article.site_name = response.site_name
      article.author = response.author
      article.headline = response.headline
      article.creator = response.creator

      article.url = '<%= ENV['domain'] %>' + '/articles/show/' + response.slug
      article.image_url = response.image_url
      article.id = response.id
      article.original_url = response.original_url

      get_comments()
      enable_commenting()
      finished_loading()
      $('.spinner_modal').remove() 

    });
  }


  $('#article_image').each(function() 
  {
    var maxWidth = 100; // Max width for the image
    var maxHeight = 100;    // Max height for the image
    var ratio = 0;  // Used for aspect ratio
    var width = $(this).width();    // Current image width
    var height = $(this).height();  // Current image height

    // Check if the current width is larger than the max
    if(width > maxWidth)
    {
        ratio = maxWidth / width;   // get ratio for scaling image
        $(this).css("width", maxWidth); // Set new width
        $(this).css("height", height * ratio);  // Scale height based on ratio
        height = height * ratio;    // Reset height to match scaled image
        width = width * ratio;    // Reset width to match scaled image
    }

    // Check if current height is larger than max
    if(height > maxHeight)
    {
        ratio = maxHeight / height; // get ratio for scaling image
        $(this).css("height", maxHeight);   // Set new height
        $(this).css("width", width * ratio);    // Scale width based on ratio
        width = width * ratio;    // Reset width to match scaled image
    }
  });

<% end %>